rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Helper function to check admin state
    function isAdmin() {
      return request.auth != null && request.auth.token.admin == true;
    }

    // Product Images: Anyone can view, only Admin can upload or delete
    match /products/{productId}/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
